<div id="searchForm" class="ui form segment">

    <div class="one field">
        <div class="field">
            <input id="keyword" name="keyword" placeholder="查询关键字" type="text">
        </div>
    </div>
    <div class="ui buttons">
        <div class="ui blue submit button" ng-click="search()">查询</div>
        <div class="or"></div>
        <div id="reset_button" class="ui button">重置</div>
    </div>
    <div class="ui error message"></div>
</div>

<div class="ui divider"></div>

<table class="ui table segment">
    <thead>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
    </tr>
    </thead>
    <tbody id="result">
    <tr ng-repeat="farmer in farmers">
        <td>{{farmer.name}}</a></td>
        <td>{{farmer.age}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th>查询结果数: {{farmers.length || 0}}</th>
    </tr>
    </tfoot>
</table>